:root{
    --clr-white: white;
    --clr-black: black;

    --clr-mechanism-primary: rgb(87, 43, 43);
    --clr-mechanism-secondary:rgb(100, 70, 59);
    --clr-mechanism-wheels: black;
    --outline-mechanism: 0.2rem solid black;

    --clr-gate-wings: rgb(29, 12, 11);
    --outline-gate--wings: 1rem solid black;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(216, 175, 121);
    width: 100vw;
}

/* gate container */
.gate-container{
    width: 100vw;
    height: 100vh;
    position: relative;
}

/* gate mechanism */
.gate-top-mechanism, .gate-bottom-mechanism{
    position: absolute;
    height: 10%;
    width: 100%;
    background-color: var(--clr-mechanism-primary);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gate-top-mechanism{
    left: 0;
    top: 0;
}
.mechanism-top, .mechanism-bottom{
    position: absolute;
    height: 30%;
    width: 100%;
    background-color: var(--clr-mechanism-secondary);
    outline: var(--outline-mechanism);
    outline-offset: -0.2rem;
    transition: all 1s linear;
}
.mechanism-top{
    top: 0;
    transform: translate(0);
}
.mechanism-middle{
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 30%;
    height: 40%;
    width: 99%;
    outline: var(--outline-mechanism);
    border-radius: 20px;
}
.mechanism-wheel{
    height: 100%;
    background-color: var(--clr-mechanism-wheels);
    background: url("./images/wooden-wheel.png") center/cover no-repeat;
    border-radius: 100%;
    transform: rotate(0deg);
    transition: all linear 1s;
}
.mechanism-wheel-rotate{
    transform: rotate(360deg) !important;
}
.mechanism-bottom{
    top: 70%;
    transform: translate(0);
}
.mechanism-translate-left {
    transform: translate(-100%);
}

.mechanism-translate-right {
    transform: translate(100%);
}
.gate-bottom-mechanism{
    left: 0;
    top: 90%;
}
/* gate wings */
.gate-wings{
    position: absolute;
    top: 10%;
    width: 100%;
    height: 80%;
    overflow: hidden;
}
.left-wing, .right-wing{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: var(--clr-gate-wings);
    outline: var(--outline-gate--wings);
    outline-offset: -1rem;
    transition: all 1s linear 1s;
}
.left-wing{
    left: 0;
    transform: translateX(0);
}
.right-wing{
    left: 50%;
    transform: translateX(0);
}
.left-wing-open{
    transform: translateX(-90%);
}
.right-wing-open{
    transform: translateX(90%);
}